<form *ngIf="userForm" #form="ngForm" [formGroup]="userForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-6 p-4">
  <div class="mx-auto grid place-items-center gap-4">
    <img *ngIf="user?.picture" [src]="user?.picture" alt="User Avatar" class="w-20 rounded-full">
    <input hidden type="file" #upload (change)="handleFileInput(upload)">
    <button mat-raised-button color="secondary" (click)="upload.click()">Change Avatar</button>
  </div>

  <mat-form-field class="mx-auto">
    <mat-label>Name:</mat-label>
    <input matInput type="text" formControlName="name" required>
  </mat-form-field>

  <mat-form-field class="mx-auto">
    <mat-label>Total workout time (minutes):</mat-label>
    <input matInput type="number" formControlName="workoutTime" required />
  </mat-form-field>

  <mat-form-field class="mx-auto">
    <mat-label>Starting weight (kg):</mat-label>
    <input matInput type="number" formControlName="startingWeight" required />
  </mat-form-field>

  <mat-form-field class="mx-auto">
    <mat-label>Current weight (kg):</mat-label>
    <input matInput type="number" formControlName="currentWeight" required />
  </mat-form-field>

  <button mat-raised-button class="mx-auto" color="primary" type="submit" [disabled]="userForm.invalid">Save
    changes</button>
</form>