<section *ngIf="user$ | async as user" class="flex flex-col gap-6 items-center">

  <form #form="ngForm" [formGroup]="userForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-6 p-4">
    <div class="mx-auto grid place-items-center gap-4">
      <img *ngIf="user?.picture" [src]="user?.picture" alt="User Avatar" class="w-20 rounded-full">
      <input hidden type="file" #upload (change)="handleFileInput(upload)">
      <button mat-raised-button color="secondary" (click)="upload.click()">Change Avatar</button>
    </div>

    <mat-form-field class="mx-auto">
      <mat-label>Name:</mat-label>
      <input matInput type="text" formControlName="name" required>
    </mat-form-field>

    <button mat-raised-button class="mx-auto" color="primary" type="submit" [disabled]="userForm.invalid">Save
      changes</button>
  </form>

  <mat-slide-toggle class="mx-auto" [(ngModel)]="imperial">{{imperial ? 'Imperial' : 'Metric'}}</mat-slide-toggle>

  <mat-list class="text-center">
    <mat-list-item *ngIf="user.totalWorkoutTime">Total workout time: {{ user.totalWorkoutTime | minsToHours }}
      hours</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item *ngIf="user.startingWeight">Starting weight: {{ user.startingWeight | weight:imperial
      }}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item *ngIf="user.currentWeight">Current weight: {{ user.currentWeight | weight:imperial
      }}</mat-list-item>
  </mat-list>

  <div class="flex flex-col gap-4 items-center">
    <button mat-raised-button color="accent" (click)="openDialog()">New weight entry</button>
    <p class="text-red-600" *ngIf="weightEntryError$ | async as error">{{error}}</p>
  </div>
</section>